body { 
  text-align: center; 
  font-family: "Courier New", Courier, Monaco
}
.container {
	text-align: center;
}
.sup { 
  color: #fff; 
  background: red; 
  padding: 7px 7px; 
  text-decoration: none;
  width: 193px;
  margin : auto;
  font-weight: bold; 
  font-style : italic;
  margin-top: 5%;
  font-size: 32px;
  font-family: Helvetica, Arial, sans-serif; 
}
#day-data {
	margin-top: 10px;
	font-weight: 300;
}
#game-wrapper {
	border: 1px solid #000;
	display: -webkit-flex; /* Safari */
    display: flex;
}

#image-display{
	border-right: 1px solid #000;
	border-bottom: none;
}
#image-display, #game-data {
	-webkit-flex: 1;  /* Safari 6.1+ */
    -ms-flex: 1;  /* IE 10 */    
    flex: 1;
}
.winloss-container{
	margin: 0 15%;
}
@media only screen and (max-width: 991.98px) { 
	#game-wrapper {
		display: block;
	}
	#image-display{
	border-right: none;
	border-bottom: 1px solid #000;
}
}